.xiezi{
    width:100px;
    height:100px;
    background-color:yellow;
    /*overflow:auto;*/
}
.xiehe{
    margin:30px;
    padding:10px;
    width:100px;
    height:100px;
    background-color:aqua;
    border:5px solid red;
}

.xiezi2{
    width:100px;
    height:100px;
    background-color:yellow;
}
.xiehe2{
    margin:30px;
    padding:10px;
    width:130px;
    height:130px;
    background-color:aqua;
    border:5px solid red;
    /*怪异盒模型的关键属性 手机上用的比较多*/
    box-sizing: border-box;
}