/*common css*/
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif;
}
a,
dd,
div,
dl,
i,
img,
input,
li,
p,
span,
ul {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
input, 
select, 
textarea {
    font-size: 100%;
    font-weight: 400;
}

/*页头 common*/
.header img,
.header ul,
.header nav,
.header div,
.header span,
.header a,
.header i,
.header h3 {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif;
}
body {
    background-color: #f5f5f5;
    /*background: #fff;*/
}

/*页头*/
.header {
    min-width: 1000px;
    padding: 0px;
    margin: 0px;
    height: 60px;
    border-bottom: 1px solid #ececec;
    background: #fff;
}
.header .heater_content {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
}

/*logo 超链接*/
#header_logo {
    width: 109px;
    height: 60px;
    display: inline-block;
    margin-right: 60px;
    float: left;
}

/*logo 图片*/
#header_logo img {
    float: left;
    width: 109px;
    height: 40px;
    margin-top: 10px;
    border: 0 none;
}

/*导航条*/
.header nav {
    height: 60px;
    display: inline-block;
    float: left;
}

/*导航条-li元素*/
.header nav li {
    position: relative;
    font-size: 14px;
    display: inline-block;
    margin-right: 50px;
    cursor: pointer;
    height: 60px;
    float: left;
}
.header nav li:hover {
    color: #35b558;
}
/*li元素 箭头*/
.header nav li i {
    margin-left: 5px;
    margin-bottom: 2px;
}
.header nav li .arrow_icon {
    width: 8px;
    height: 8px;
    border-top: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    display: inline-block;
    transition: transform 0.8s;
    -moz-transition: transform .8s;
    -webkit-transition: transform .8s;
    -o-transition: transform .8s;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform-origin: 4px 4px;
}
.header nav li:hover .arrow_icon {
	border-top: 1px solid #37BE5C;
    border-left: 1px solid #37BE5C;
    transform: rotate(45deg);
}
/*导航条 二级菜单*/
.header nav li:hover .submenu{
    display: block;
    opacity: 1;
}
.header nav .submenu{
    display: none;
    opacity: 0;
    animation: submenuKF 0.8s ease normal;
    position: absolute;
    z-index: 1000;
    top: 60px;
    left: 0;
    background: #fff;
    font-size: 12px;
    color: #666;
    width: 280px;
}
/*二级菜单 动画*/
@keyframes submenuKF {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header nav .submenu h3 {
    margin: 10px 0;
    padding: 0 15px;
    background: #fafafa;
    height: 28px;
    line-height: 28px;
    font-weight: 300;
}
.header nav .submenu a {
    color: #333;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}
.header nav .submenu a:hover {
    color: #35b558;
}
/*会员课程*/
.header nav .vip_lesson {
    padding: 10px 0;
}
.header nav .vip_lesson a{
    display: block;
    height: 40px;
    line-height: 40px;
    color: #666;
}
.header nav .vip_lesson a span {
    color: #bbb;
    float: right;
}
/*职业学院 图标*/
.submenu i{
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 10px!important;
}
.submenu i.web_icon{
    background: url(../img/allicon.png) 0 0 no-repeat;
    background-size: 64px 64px;
    background-position: -15px -27px;
    
}
.submenu i.python_icon{
    background: url(../img/allicon3.png) 0 0 no-repeat;
    background-size: 16px 148px;
    background-position: -2px -2px;
}
.submenu i.go_icon{
    background: url(../img/allicon3.png) 0 0 no-repeat;
    background-size: 16px 148px;
    background-position: -2px -38px;
}
.submenu i.ios_icon{
    background: url("http://e.jikexueyuan.com/headerandfooter/images/allicon3.png") 0 0 no-repeat;
    background-size: 16px 148px;
    background-position: -2px -82px;
}
/*会员课程 图标*/
.submenu i.kck_icon{
    background: url(../img/allicon.png) 0 0 no-repeat;
    background-size: 64px 64px;
    background-position: 0 -13px;
}
.submenu i.zyljt_icon{
    background: url(../img/allicon.png) 0 0 no-repeat;
    background-size: 64px 64px;
    background-position: -45px 0;
}
.submenu i.zstxt_icon{
    background: url(../img/allicon.png) 0 0 no-repeat;
    background-size: 64px 64px;
    background-position: -30px -13px;
}
.submenu i.xlkc_icon{
    background: url(../img/xlkc2.png) 0 0 no-repeat;
    background-size: 12px 12px;
}
.submenu i.kcbq_icon{
    background: url(../img/allicon.png) 0 0 no-repeat;
    background-size: 64px 64px;
    background-position: -15px -13px;
}
.submenu i.vip_icon{
    background: url(../img/allicon.png) 0 0 no-repeat;
    background-size: 64px 64px;
    background-position: -16px 0;
}
/*极客社区 图标*/
.submenu i.jswd_icon{
    background: url(../img/allicon.png) 0 0 no-repeat;
    background-size: 64px 64px;
    background-position: 0 -27px;
}
.submenu i.wiki_icon{
    background: url(../img/allicon.png) 0 0 no-repeat;
    background-size: 64px 64px;
    background-position: -29px -27px;
}
.submenu i.sq_icon{
    background: url(../img/allicon.png) 0 0 no-repeat;
    background-size: 64px 64px;
    background-position: 0 2px;
}
.submenu i.zygx_icon{
    background: url(../img/allicon.png) 0 0 no-repeat;
    background-size: 64px 64px;
    background-position: -30px 0;
}
/*导航条 二级菜单 end*/
/*次级导航*/
.header .sec_nav {
    float: right;
    text-align: right;
    width: 200px;
    margin-right: 10px;
    height: 60px;
}

/*次级导航 span占位*/
.header .sec_nav span {
    height: 60px;
    width: 17px;
    display: inline-block;
    margin-left: 25px;
    cursor: pointer;
}

/*次级导航 搜索图标*/
.search_icon {
    background: url(../img/search-icon.png) 0 0 no-repeat;
    -webkit-background-size: 17px;
    background-size: 17px;
    background-position: 0;
}
.search_icon:hover {
    background: url(../img/search-icon2.png) 0 0 no-repeat;
    -webkit-background-size: 17px;
    background-size: 17px;
    background-position: 0;
}
/*次级导航 app图标*/
.app_icon {
    background: url(../img/app-icon.png) 0 0 no-repeat;
    background-size: 17px;
    background-position: 0;
}
.app_icon:hover {
    background: url(../img/app-icon2.png) 0 0 no-repeat;
    background-size: 17px;
    background-position: 0;
}

/*次级导航 用户图标*/
.user_icon {
    background: url(../img/user-icon.png) 0 0 no-repeat;
    -webkit-background-size: 17px;
    background-size: 17px;
    background-position: 0;
}

/*搜索框*/
.header .searchBox {
    opacity: 1;
    display: block;
    /*display: none;*/
    /*transform: scale(1, 1);*/
    /*opacity: 0;*/
    height: 59px;
    line-height: 59px;
    width: 850px;
    background: #fff;
    position: absolute;
    z-index: 11000;
    top: 0;
    right: 0;
}

.scale {
    transform-origin: right center;
    display: block!important;
    transform: scale(1, 1) !important;
    opacity: 1!important;
    animation: scalerun 0.8s ease normal;
}
.header .searchBox input {
    width: 400px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    font-size: 12px;
    vertical-align: top;
    margin-left: 10px;
    border: none;
    outline: none;
}
.header .searchBox .close_icon {
    width: 15px;
    height: 15px;
    margin-top: 22px;
    cursor: pointer;
    background: url(../img/close-icon.png) 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    z-index: 1200;
}
.header .searchBox .search_icon {
    background: url(../img/search-icon.png) 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
    height: 17px;
    width: 17px;
    display: inline-block;
}
/*搜索推荐关键词*/
.header .searchBox .tagBox {
    width: 300px;
    text-align: right;
    display: inline;
    margin-right: 50px;
    float: right;
}
.header .searchBox .tagBox a {
    font-size: 12px;
    color: #808080;
    background: #f5f5f5;
    padding: 3px 5px;
    margin-left: 10px;
}
/*搜索框 end*/
/*中间*/
.page::after,
.focus::after{
	content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
/*焦点区*/
.focus{
	width: 1000px;
    min-width: 1000px;
    min-height: 300px;
    margin: 0 auto;
    margin-top: 20px;
}
/*焦点区 轮播图*/
.jk_banner {
    height: 330px;
    width: 750px;
    background: #f5f5f5;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}
.banner_container {
    width: 750px;
    height: 330px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.banner_container .banner_swiper {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 4500px;*/
    width: 5250px;
}
.banner_container .banner_swiper img {
    float: left;
}
.banner_pagination {
	position: absolute;
    width: 750px;
    height: 24px;
    line-height: 24px;
    bottom: 10px;
    z-index: 11;
    text-align: center;
}
.banner_pagination a {
	font-size: 24px;
    text-decoration: none;
    color: #fff;
}
.banner_pagination a.hover {
    color: #37BE5C;
}
/*焦点区 轮播图 end*/
/*焦点区 登陆*/
.jk_login {
    float: left;
    width: 240px;
    height: 160px;
    border: 1px solid #e9e9e9;
    background: #fff;
    box-sizing: border-box;
    padding: 26px 29px 24px;
}
/*用户信息*/
.jk_login .user_info{
	height: 57px;
}
/*头像图片*/
.user_info img {
    float: left;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    margin-right: 15px;
}
/*用户文字*/
.user_info p{
	float: left;
    font-size: 12px;
    color: #555;
    line-height: 16px;
    height: 16px;
    width: 108px;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*登陆、注册的按钮*/
.jk_login .loginOn{
	margin-right: 10px;
}
.jk_login .loginOn,
.jk_login .register{
	font-size: 14px;
    float: left;
    display: inline-block;
    width: 85px;
    height: 32px;
    border: 1px solid #35b558;
    border-radius: 2px;
    color: #35b558;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    transition: background .8s;
    -moz-transition: background .8s;
    -webkit-transition: background .8s;
    -o-transition: background .8s;
}
.jk_login .loginOn:hover,
.jk_login .register:hover{
    background: #35b558;
    color: #fff;
}
/*焦点区 就业班*/
.jk_jiuye{
	float: left;
    height: 130px;
    width: 100%;
    margin-top: 20px;
    background: #fff;
    position: relative;
}
.jk_jiuye a{
	float: left;
    width: 200px;
    height: 130px;
    border: 1px solid #f0f0f0;
    border-left: 0;
    color: #555;
    text-align: center;
    padding-top: 90px;
    font-size: 12px;
    transition: color .5s;
    -moz-transition: color .5s;
    -webkit-transition: color .5s;
    -o-transition: color .5s;
}
.jk_jiuye a:hover{
	color: #35b558;
}
/*就业班 标识*/
.jk_jiuye a i{
    position: absolute;
    width: 52px;
    height: 52px;
    top: 0;
    left: 0;
    background: url(../img/jtag.png) no-repeat center;
    background-size: 52px;
}
/*就业班 1*/
.jk_jiuye a:nth-child(1) {
    background: url(../img/jphp.png) no-repeat center 20px;
    background-size: 130px 65px;
}
/*就业班 2*/
.jk_jiuye a:nth-child(2) {
    background: url(../img/jweb.png) no-repeat center 20px;
    background-size: 130px 65px;
}
/*就业班 3*/
.jk_jiuye a:nth-child(3) {
    background: url(../img/jandroid.png) no-repeat center 20px;
    background-size: 130px 65px;
}
/*就业班 4*/
.jk_jiuye a:nth-child(4) {
    background: url(../img/jios.png) no-repeat center 20px;
    background-size: 130px 65px;
}
/*就业班 5*/
.jk_jiuye a:nth-child(5) {
    background: url(../img/jjava.png) no-repeat center 20px;
    background-size: 130px 65px;
}
/*专项提高*/
.jk_advance {
    width: 1000px;
    height: 270px;
    margin: 0 auto;
    margin-top: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.jk_advance ul{
	width: 100%;
	height: 100%;
}
/*专项提高 各个元素*/
.jk_advance ul li{
	float: left;
    width: 235px;
    height: 100%;
    margin-right: 20px;
    border: 1px solid #e9e9e9;
}
.jk_advance ul li:last-child {
    margin-right: 0;
}
/*专项提高 图片*/
.jk_advance ul li a img{
	width: 100%;
    height: 155px;
}
/*专项提高 详细信息*/
.jk_advance ul li .advanceContainer {
	height: 113px;
    padding: 14px;
    margin-top: -3px;
    position: relative;
    background: #fff;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
}
.jk_advance ul li:hover .advanceContainer{
	box-shadow: 3px 3px 2px #bbb;
}
/*标题*/
.advanceContainer .advanceTitle{
	width: 100%;
    overflow: hidden;
    font-size: 12px;
    color: #555;
    line-height: 18px;
    height: 36px;
}
/*课时信息*/
.advanceContainer .advanceInfo{
	margin-top: 6px;
    color: #999;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
}
/*价格*/
.advanceContainer .advancePrice{
	float: left;
    font-size: 18px;
    color: #ff5c00;
    vertical-align: bottom;
    margin-right: 5px;
    margin-top: 8px;
}
/*价格*/
.advanceContainer .advancePrice::before{
	content: '￥';
	font-size: 14px;
    margin-right: 3px;
}
/*原价*/
.advanceContainer .advanceThrought{
	float: left;
    font-size: 12px;
    color: #999;
    margin-top: 14px;
    text-decoration: line-through;
    vertical-align: bottom;
}
/*人数*/
.advanceContainer .advanceNum{
	display: inline-block;
    height: 14px;
    position: absolute;
    bottom: 14px;
    right: 14px;
    color: #999;
    font-size: 12px;
}
/*专项提高 详细信息 end*/
/*职业学院*/
.jk_college {
    width: 1000px;
    margin: 0 auto;
    height: 310px;
    margin-bottom: 40px;
}
/*职业学院 标题*/
.jk_college h2 {
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
}
/*职业学院 画板*/
.jk_college ul li {
    float: left;
    background: #ccc;
    width: 240px;
    height: 130px;
    margin-left: 10px;
    position: relative;
}
.jk_college ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.jk_college ul li img {
    display: inline-block;
    width: 240px;
    height: 130px;
}
.jk_college ul li span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding-top: 88px;
}
/*背景动画层*/
.jk_college ul li a i {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: opacity .8s; 
    -moz-transition: opacity .8s;
    -webkit-transition: opacity .8s; 
    -o-transition: opacity .8s;
}
.jk_college ul li a:hover i {
    opacity: 0.2;
    
}
/*Web 前端工程师*/
.jk_college ul .web {
    width: 500px;
    height: 270px;
    margin-left: 0;
}
.jk_college ul .web img {
    display: inline-block;
    width: 500px;
    height: 270px;
}
.jk_college ul .web span {
    padding-top: 180px;
    font-size: 20px;
    background: url(../img/cweb.png) no-repeat center 70px;
    background-size: 55px 84px;
}
/*Web 前端工程师 end*/
/*Python Web 工程师*/
.jk_college ul .python {
	margin-bottom: 10px;
}
.jk_college ul .python span {
    background: url(../img/cpython.png) no-repeat center 31px;
    background-size: 36px 36px;
}
/*Python Web 工程师 end*/
/*GO 语言工程师*/
.jk_college ul .go {
	margin-bottom: 10px;
}
.jk_college ul .go span {
    background: url(../img/cgo.png) no-repeat center 31px;
    background-size: 36px 29px;
}
/*GO 语言工程师 end*/
/*iOS 工程师*/
.jk_college ul .ios {
	margin-bottom: 10px;
}
.jk_college ul .ios span {
    background: url(../img/cios.png) no-repeat center 31px;
    background-size: 32px 36px;
}
/*iOS 工程师 end*/
/*更多职业 敬请期待*/
.jk_college ul .more {
	margin-bottom: 10px;
}
.jk_college ul .more span {
    background: url(../img/cmore.png) no-repeat center 31px;
    background-size: 36px 36px;
}
/*更多职业 敬请期待 end*/
/*职业学院 end*/

/*vip会员*/
.jk_vip {
    width: 1000px;
    margin: 0 auto;
    height: 420px;
    margin-bottom: 40px;
    box-sizing: border-box;
}
/*vip会员 标题*/
.jk_vip h2 {
    font-size: 18px;
    color: #555;
    height: 18px;
    line-height: 18px;
    margin-bottom: 22px;
}
/*各个课程*/
.jk_vip ul li {
    float: left;
    width: 158px;
    height: 150px;
    border: 1px solid #e9e9e9;
    background: #fff;
    margin-right: 10px;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
}
.jk_vip ul li:hover {
    box-shadow: 2px 2px 3px #ddd;
}
/*2行的最后一个 没用右边距*/
.jk_vip ul li:nth-child(6), 
.jk_vip ul li:last-child {
    margin-right: 0;
}
/*第二行 上边距*/
.jk_vip ul li:nth-child(n+7) {
    margin-top: 10px;
}
/*各个课程 点击范围设置*/
.jk_vip ul li a {
    display: block;
    height: 100%;
    text-align: center;
}

/*课程 图标*/
.jk_vip ul li a img {
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-top: 25px;
}
/*课程名称*/
.jk_vip ul li a p {
    font-size: 12px;
    color: #555;
    height: 22px;
    line-height: 22px;
}
/*课程课时*/
.jk_vip ul li a span {
    display: block;
    font-size: 12px;
    color: #35b558;
    height: 22px;
    line-height: 22px;
}
/*所有vip课程*/
.jk_vip .allVip {
    display: inline-block;
    margin-top: 38px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #35b558;
    border-radius: 2px;
    width: 120px;
    font-size: 14px;
    color: #35b558;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -60px;
    transition: background .8s;
    -moz-transition: background .8s;
    -webkit-transition: background .8s;
    -o-transition: background .8s;
}
.jk_vip .allVip:hover {
	background: #35b558;
    color: #fff;
}
/*vip会员 end*/
/*学员故事*/
.jk_story {
    width: 1000px;
    margin: 0 auto;
    height: 300px;
    margin-bottom: 80px;
    box-sizing: border-box;
    overflow: hidden;
}
/*标题*/
.jk_story h2{
	font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
}
/*学员故事 轮播*/
.jk_story .story_container {
    width: 1000px;
    height: 260px;
    position: relative;
    overflow: hidden;
}
.story_container .story_swiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
}
.story_container .story_swiper .swiper_slide {
    float: left;
    width: 1000px;
    height: 260px;
}

.story_pagination {
	position: absolute;
    width: 100%;
    height: 24px;
    line-height: 24px;
    bottom: -4px;
    z-index: 11;
    text-align: center;
}
.story_pagination a {
	font-size: 24px;
    text-decoration: none;
    color: #BBBBBB;
}
.story_pagination a.hover {
    color: #37BE5C;
}
/*学员故事 轮播 end*/
/*学员介绍 内容*/
.jk_story ul {
    height: 200px;
    width: 100%;
}
.jk_story ul li {
    float: left;
    width: 320px;
    height: 200px;
    position: relative;
    margin-right: 20px;
}
.jk_story ul li:last-child {
    margin-right: 0;
}
.jk_story ul li a {
    display: block;
    height: 100%;
}
.jk_story ul li .story_content {
    width: 100%;
    height: 121px;
    border: 1px solid #e9e9e9;
    background: #fff;
    position: relative;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
}
.jk_story ul li .story_content:hover {
    box-shadow: 4px 4px 5px #888888
}
.jk_story ul .story_content p {
    height: 100%;
    overflow: hidden;
    font-size: 12px;
    color: #555;
    line-height: 20px;
    padding: 20px 25px;
    text-align: left;
}
.jk_story ul .story_content p:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 10px;
    background: url(../img/storyicon.png) no-repeat center;
    background-size: 14px 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.jk_story ul .story_content p:after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 10px;
    background: url(../img/storyicon.png) no-repeat center;
    background-size: 14px 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.jk_story ul .story_info {
    height: 80px;
    padding-left: 95px;
    padding-top: 28px;
    position: relative;
}
.jk_story ul .story_info img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #e9e9e9;
}
.jk_story ul .story_info p {
    font-size: 12px;
    color: #555;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    text-align: left;
}
.jk_story ul .story_info span {
    display: block;
    height: 24px;
    line-height: 24px;
    color: #999;
    font-size: 12px;
    text-align: left;
}
/*学员介绍 内容 end*/
/*学员故事 end*/
/*页脚*/
.footer {
	clear: both;
    min-width: 1000px;
    border-top: 1px solid #e4e4e4;
    background: #fff;
    /*margin-top: 50px;*/
}

/*页脚 信息*/
.info {
    height: 215px;
    margin: 0 auto;
    width: 1000px;
    border-bottom: 1px solid #f5f5f5;
}

/*底部logo*/
.jk_logo {
    vertical-align: top;
    margin-top: 25px;
    margin-right: 64px;
    display: inline-block;
    width: 160px;
    float: left;
}
.jk_logo img {
    width: 109px;
    height: 40px;
    display: block;
}
.jk_logo p {
    font-size: 12px;
    color: #999;
    margin-top: 20px;
}

/*底部 导航*/
.info dl {
    vertical-align: top;
    margin-top: 25px;
    display: inline-block;
    width: 135px;
    color: #808080;
    float: left;
}
.info dl dt {
    font-size: 14px;
    line-height: 30px;
}
.info dl dd {
    font-size: 12px;
    line-height: 30px;
}
.info dl dd a {
    color: #999999;
}
.info dl dd a:hover {
    color: #35b558;
}
/*底部 导航 end*/

/*联系方式*/
.jk_contact {
    vertical-align: top;
    float: right;
    margin-top: 25px;
    display: inline-block;
    width: 175px;
    text-align: left;
}

/*联系电话*/
.jk_contact .tel {
    color: #808080;
    font-size: 14px;
    margin-bottom: 20px;
}

/*app 下载*/
.jk_contact div {
    width: 140px;
    height: 30px;
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
    line-height: 30px;
    color: #808080;
    font-size: 13px;
    padding-left: 40px;
    cursor: pointer;
}
.app_ios {
    background: url(../img/icon-down-ios.png) no-repeat 0 0;
    background-size: 30px;
}
.app_and {
    background: url(../img/icon-down-and.png) no-repeat 0 0;
    background-size: 30px;
}
/*app 下载 end*/

/*页脚 版权*/
.copyright {
	clear: both;
    font-size: 12px;
    color: #999;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    padding: 15px 0;
}
.copyright a {
    color: #999;
}
.copyright a:hover {
    color: #37BE5C;
}

/*微信*/
#footer_wechat {
    float: right;
    height: 15px;
    width: 20px;
    background: url(../img/icon-down-wechat.png) no-repeat 0 0;
    background-size: 20px 15px;
}

/*sina微博*/
#footer_sinaweibo {
    float: right;
    height: 15px;
    width: 20px;
    margin-right: 10px;
    background: url(../img/icon-down-sina.png) no-repeat 0 0;
    background-size: 20px 15px;
}

/*诚信网站备案*/
#cert {
    display: block;
    margin: 15px auto 0;
}
#cert img {
    width: 60px;
}

